html {
  background-color:#19115E;
  height:100%;
  width:100%;
}
body {
  display:flex;
  align-content:center;
  align-items: center;
  height:100%;
  width:100%;
  margin: 0;
}
.monty-hall__hide {
  display:none;
}
.monty-hall__con * {
  font-family:'Palanquin Dark';
  color:white;
  text-align:center;
  box-sizing: border-box;
  font-size:20px;
}
.monty-hall__con p {
  margin-top:0;
}
.monty-hall__con {
  padding:15px;
  width:100%;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}
.monty-hall__title {
  margin:0 auto 10px;
  font-size:45px;
  line-height: 1.5;
}
.monty-hall__door-con {
  display:flex;
  justify-content: space-between;
  max-width:500px;
  margin: 0 auto;
  width:100%;
}
.monty-hall__btn-con button {
  margin-bottom:20px;
}
.monty-hall__door {
  width:100px;
  color:white;
  cursor:pointer;
  height:200px;
  padding:10px;
  background-color:blue;
  display:flex;
  justify-content:flex-end;
  align-items:center;
  border-style: solid;
  border-width:5px;
}
.monty-hall__door--red {
  background-color:red;
  border-color:red;
}
.monty-hall__door--blue {
  background-color:blue;
  border-color:blue;
}
.monty-hall__door--green {
  background-color:green;
  border-color:green;
}
.monty-hall__door--goat, .monty-hall__door--gold {
  background-size:cover;
  background-position:center;
  cursor: default;
}
.monty-hall__door--goat {
  background-color:white;
}
.monty-hall__door--gold {
  background-image:url('gold.jpg');
}

.monty-hall__door--goat .monty-hall__door-handle, .monty-hall__door--gold .monty-hall__door-handle {
  display:none;
}
.monty-hall__door-handle {
  background-color:yellow;
  width:20px;
  height:20px;
  border-radius:100%;
}
.monty-hall__door--selectable {
  cursor:pointer;
}
.monty-hall__win-rates-con, .monty-hall__notes {
  margin-top:20px;
}

.test-doors-con {
  width:100%;
  max-width:600px;
  justify-content: space-around;
  display:flex;
  padding-top:20px;
}
.test-door-con {
  width:25%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.test-door-frame {
  padding: 6% 6% 0 6%;
  background-color:lightblue;
  border:black 1px solid;
  border-bottom:none;
  margin: 0 5%;
}
.test-door {
  width:98%;
  padding-bottom:190%;
  background-color:lightblue;
  border:black 1px solid;
  border-bottom:none;
}
.test-door-step {
  padding-bottom:4%;
  background-color:lightblue;
  border:black 1px solid;
}

@media (max-width:500px) {
  .monty-hall__title {
    font-size:35px;
    line-height: 1.3;
  }
}